@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html { scroll-behavior: smooth;}

.gap20px {@apply gap-[20px]}
.txtShadow { text-shadow: 0 0 10px rgba(0, 0, 0, 0.468);}
.transition1 {@apply transition-all duration-300 ease-in-out}
.transition2 {@apply transition-all duration-700 ease-in-out}
.MAX_W {@apply max-w-[1440px]}
.mainPX {@apply px-[30px] max-sm:px-[15px] }

.mainDarkBg {@apply bg-[#151515]}
.mainLightDarkBg {@apply bg-[#333]}

.BUTTON {@apply bg-mainDark border-mainLightDark hover:border-mainOrange border-[2px]  px-[10px] py-[7px] rounded-[8px] transition1}
.BUTTON2 {@apply bg-[#ff5b2d] hover:bg-[#fd8240] px-[10px] py-[8px] rounded-[8px] transition1}

.mainOrange {@apply bg-[#ff5b2d]}
.hoverOrange {@apply hover:bg-[#fd8240]}
.hoverOrangeIcon {@apply hover:text-[#fd8240]}

.mainAiAnswerColor {@apply bg-[#ff5b2d]}
.mainAiGreenTxt {@apply text-[#277c78]}


.whiteText {@apply text-[#ffffff]}
.darkText {@apply text-[#262626]}
.darkText2 {@apply text-[#313131]}
