@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html { scroll-behavior: smooth;}

.gap20px {@apply gap-[20px]}
.txtShadow { text-shadow: 0 0 10px rgba(0, 0, 0, 0.468);}
.transition1 {@apply transition-all duration-300 ease-in-out}
.transition2 {@apply transition-all duration-700 ease-in-out}
.MAX_W {@apply max-w-[1440px]}
.mainPX {@apply px-[30px] max-sm:px-[15px] }

.mainDarkBg {@apply bg-[#151515]}
.mainLightDarkBg {@apply bg-[#333]}
.fireBG { background: linear-gradient(to right, #fb9200, #e66000, #e84904, #e66000, #fb9200);
  background-size: 200%;
  background-position: 0%;
  transition: background-position 0.4s ease-in-out;
  color: white; 
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.839);
  cursor: pointer;}
.fireBG:hover { background-position: 100%;}

.BUTTON {@apply bg-mainDark border-mainLightDark hover:border-mainOrange border-[2px]  px-[10px] py-[7px] rounded-[8px] transition1}
.BUTTON2 {@apply bg-[#ff5b2d] hover:bg-[#fd8240] px-[10px] py-[8px] rounded-[8px] transition1}

.mainOrange {@apply bg-[#ff5b2d]}
.hoverOrange {@apply hover:bg-[#fd8240]}
.hoverOrangeIcon {@apply hover:text-[#fd8240]}

.mainAiAnswerColor {@apply bg-[#ff5b2d]}
.mainAiGreenTxt {@apply text-[#277c78]}


.whiteText {@apply text-[#ffffff]}
.darkText {@apply text-[#262626]}
.darkText2 {@apply text-[#313131]}

.reviewText { font-family: 'Caveat', cursive;}
.reviewText6 {  font-family: 'Quicksand', sans-serif;}

.mainButton {
  background: linear-gradient(to right, #fb9200, #e66000, #e84904, #e66000, #fb9200);
  background-size: 200%;
  background-position: 0%;
  transition: background-position 0.4s ease-in-out;
  color: white; 
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.839);
  cursor: pointer;
}
.mainButton:hover { background-position: 100%;}

.INPUT { @apply mainLightDarkBg outline-none text-white p-3 rounded-md w-full}
.SOCIAL {@apply flex items-center justify-center w-[40px] h-[40px] rounded-full text-[20px] hover:text-[22px] transition1}
.SOCIAL {
 background: linear-gradient(to right, #fb9200, #e66000, #e84904, #e66000, #fb9200);
 background-size: 200%;
 background-position: 0%;
}
.SOCIAL:hover {background-position: 100%;}

.caligraphy { font-family: 'Marck Script', cursive;}
.headerStyles { @apply font-bold text-[2rem] py-[20px] mt-[30px] mx-auto}


.highlight-today {
  background-color: #019fee !important; /* red-400 */
  color: white !important;
  border-radius: 5px ;
}
.highlight-selected {
  background-color: #ff5b2d !important; /* red-400 */
  color: white !important;
  border-radius: 5px ;
}
